@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/* colors and images */
:root {
    --nav-links-color: #fff;
    --button-hover-color: #878584;
    --backoffice-menu-bg: #343a40;
    --table-head-bg: #e9ecef;
    --nav-link-hover-color: #f79800;
    --footer-color: #e3e3e3;
    --dark-layer: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
    --edit-button-color: #ffa207;
    --delete-button-color: #dc3545;
    --pagination-active-bg: #007bff;
    --bg-img-header: url(../src/assets/img_bg_backoffice_usuario.jpg);
}

/* Nao sei se vai dar certo o que ta no body */
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
